* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: 'Space Grotesk', 'Oleo Script';
    background-color: #fafafa;
}

li, a, button{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px  10%;
}
nav h1{
    font-size: medium;
    font-family: 'Oleo Script', cursive;
    font-weight: 200;
}
nav li{
    font-family: 'Space Grotesk', cursive;
    font-size: 35px;
}

li{
    display: inline-flex;
    margin-left: 15px;
    justify-content: space-evenly;
    
    
}

.btn{
    border-radius: 12px; 
    color: white; 
    padding: 10px 22px; 
    cursor: pointer; 
    background-color: #2549D3;
}



.home{
    display: flex;
    margin-top: 20vh;
    margin-left:10vh;
    margin-right:10vh;
}

.home-tag{
    margin: 50px 40px;
    width: 40%;

}
.home-tag h5{
    font-size: 60px;
    color: blue;
}

.home-tag p{
    font-size: 35px;
    margin-top: 20px;

}

.home-btn button{
    margin-top: 30px;
}

.home-cover img{
    height: 50vh;
    width: 75vh;
    margin-left: 10vh;
}
.search{
    background-color: white;
    display: flex;
}
  

.row{
    display: flex;
    justify-content: center;
    margin: 30px 10px;
}

.row .column {
    width: 25%;
    padding: 0 70px;
    background-color: #f1f1f1;
  }
.column .card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); /* this adds the "card" effect */
    padding: 10px;
    height: 100%;
    width: 100%;;
    margin: 50px;
    text-align: center;
    background-color: #f1f1f1;
  }
.card-container{
    background-color: #f1f1f1;
}
/* .card-container p{
    margin-top: 30px;
} */


.choose{
    display: flex;
    margin-top: 20vh;
    margin-left:10vh;
    margin-right:10vh;
}
.choose-why{
    margin: 50px 40px;
    width: 40%;
}
.choose-why h1{
    color: #2549D3;
}
.choose-why p{
    font-size: 25px;
    margin-top: 20px;
}
.choose-image img{
    height: 50vh;
    width: 75vh;
    margin-right: 10vh;
}



.flex-container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   
}
.flex-container1 > div{
    width: 25%;
    margin:auto
}
.column img{
    width: 100%;
    height: auto;
}
.featured h2{
    color: #0f298b;
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-style: 'Oleo Script';
}
.featured p{
    font-size: 22px;
    font-style: 'Space Grotesk';
    text-align: center;
    padding-bottom: 10px;
}

.customers{
    padding-top: 150px;
    padding-bottom: 150px;
}
.client{
    padding: 50px 100px;
}
.customers-btn{
    text-align: right;
    margin-right: 200px;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1700px;
    margin: auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}

.footer{
    background-color: #0f298b;
    padding: 70px 50px 70px 200px;
}
.container{
    background-color: #0f298b;
}
.footer-row{
    background-color: #0f298b;
}
.footer-col{
    background-color: #0f298b;
    width: 25%;
    padding: 0 15px;
}
.footer-col ul{
    background-color: #0f298b;
}
.footer-col li h4{
    background-color: #0f298b;
    color: #f1f1f1;
}
.footer-col li{
    background-color: #0f298b;
    color: #f1f1f1;
    padding: 5px;
}
.footer-col p{
    background-color: #0f298b;
    color: #f1f1f1;
    padding: 3px;
    font-size: 18px;
}

